<div class="footer-wrapper">
    <div class="footer-icons">
        <a href="https://www.stincebuilt.com/johno/"><img src="../../../assets/pics/Stince-Built-PNG.png " id="stince"/></a>
        <a href="https://simplysota.com/"><img src="../../../assets/pics/Simply_Sota.png " id="sota"/></a>
        <a href="https://soardogg.com/marketplace/pro-shops/content-creators/johno/"><img src="../../../assets/pics/SoardoggLogo-250x53-1.png" id="soar"/></a>
        <a href="https://madrinascoffee.com"><img src="../../../assets/pics/madrinas_white_wordmark.png " id="madrinas"/></a>
    </div>
</div>