.footer-wrapper{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 200px;   
    padding: 1%;
    background-color: #E63946;
}

.footer-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 200px;
    overflow-x: hidden; 
}
.footer-wrapper img {
    width: 100px;
}
.footer-title{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.footer-title h3{
    font-weight: 700;
    font-size: 3.5rem;
    color:#F6F7EB;
}
.footer-info{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
}
.footer-info p{
    color:#F6F7EB;
    font-size: 2rem;
}
/* #stince{
    height: 250px;
    margin-top: -50px;
    margin-bottom:-50px;
}
#sota{
    height: 150px;
}
#soar{
    height: 70px;
}
#madrinas{
    height: 90px;
}

. */

@media only screen and (max-width:430px){
    .footer-wrapper img {
        width: 70px;
    }
    .footer-title h3{
        font-weight: 700;
        font-size: 2.2rem;
        color:#F6F7EB;
    }
    /* .footer-icons {
        display: flex;
        flex-direction: column;
       
       
        
        overflow-x: hidden; 
    }
    #stince{
        height: 120px;
       
    }
    #sota{
        height: 50px;
        margin-right: 10%;
       
    }
    #soar{
        height: 20px;
       
    }
    #madrinas{
        height: 50px;
       
    }
    .footer-wrapper{
        display:flex;
        
    } */
}
@media only screen and (max-width: 780px){
    .footer-icons {
        display: flex;
        flex-direction:row;
        justify-content:space-around;
        align-items: center;
        width: 100%;
        max-width: 100% !important;
        overflow-x: hidden; 
    }
    #stince{
        height: 150px;
        margin-left: -10%;
    }
    #sota{
        height: 50px;
        margin-left: -25%;
    }
    #soar{
        height: 20px;
        margin-right: 5%;

        
    }
    #madrinas{
        height: 50px;
        margin-left: -10%;
    }
}