<div class="video-title">

    <h1><img src="../../../assets/pics/JOHNO_ICON_RED2x.png" alt="">JOHNO'S HIGHLIGHTS<img
            src="../../../assets/pics/JOHNO_ICON_RED2x.png">
    </h1>
</div>
<div class="video-wrapper-main">
    <div class="video-wrapper">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/7Mao11E7WGA" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>
    <div class="video-wrapper">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/a8XaTk9a7Po" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>
    <div class="video-wrapper">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/3BTj_LXglVo" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>
</div>