form{
    display:flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10%;
    
}
.title{
   
    padding: 2%;
    margin-top: 4%;
    justify-content: center;
    width:80%;
}
.title h1{
    display:flex;
    justify-content: center;
    color:#E63946;
    background-color: #F6F7EB;
    padding-top: 5%;
   
    
    
    font-size: 2rem;
   
    font-weight:700;
    letter-spacing: 2px; 
}

.checkboxes{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
}

.emailbox{
    display:flex;
    
   
}

.contact-page-container{
    display: flex;
    background-color: #44BBA4;
    justify-content: center;
    background-image: url(../../../assets/pics/Johno2.1.png);
    position:relative;
}

.eventdate{
    margin-left: 18px;
    display:flex;
    flex-direction: column;
    width:45%;
}
.form-background{
    display:flex;
    width: 40%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#F6F7EB;
    height: 80%;
    padding-right:1%;
    padding-left:1%;
    margin-top: 5%;
    margin-bottom: 5%;
    
   

}
.text-area{
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 95%;
    margin-left: 17px;
}
.textarea-box{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    width:100%;
   
}
textarea{
    width:95%;
    height:350px;
    
}
.textarea-box label{
   justify-content: start;
   width: 94%;
}
.button{
    border:none;
    margin-top: 6%;
    margin-bottom: -2%;
    width: 30%;
    color:#F6F7EB;
    background-color: #2D3142;
    padding: 2%;
   
    font-weight: 700;
    font-size: 1.4rem;
    letter-spacing: 2px;
}
.button:hover{
    transform:scale(1.1);
    transition: ease-in-out .55s;
}
.button-wrapper{
    display:flex;
    justify-content: end;
}
input{
    
    border-radius: 1px;
    width:100%;
    
}
.input-wraps{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}
.input-indi{
    display:flex;
    flex-direction: column;
    width:45%;
}
label{
    margin:5px;
    font-family: 'Montserrat', sans-serif;
}
button{
    border:none;
    background-color: #3F88C5;
    color:#F6F7EB;
    width: 15%;
    height: 50px;
    margin-top:5%;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 3px 3px 8px rgb(110, 106, 106);
}

@media only screen and (max-width: 430px){
    .form-background{
        
        width: 95%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color:#F6F7EB;
        height: 80%;
        padding-right:1%;
        padding-left:1%;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .button{
        width: 30%;
        margin-right: 3%;
    }
    .button:hover{
        transform: scale(1);
        background-color: #44BBA4;
    }
   
    .title h1{
        text-align: center; 
        font-size: 1.5rem;
    }
    textarea{
        margin-left: -7px;
    }
    .eventdate{
        margin-left: 10px;
    }
}