<div class="aboutme-container" id="about">
   


    <div class="aboutme-paragraph">

        <div class="aboutme-title">
            <h1>ABOUT ME</h1>
        </div>
        <div class="aboutme-text">
            <p>My name is John. I am a Christ follower, husband, Esports Director and Twitch Partner. I love people
                and
                investing in others to see them succeed in life. I am currently living in Oklahoma and love the
                community I
                have both in real life and online. God has been incredibly faithful to me in my life and has set me
                on a
                course to glorify him throughout the gaming and streaming industries. Please feel free to find me on
                any
                of
                my social platforms and reach out. I love connecting with new people.</p>
        </div>
    </div>

    <div class="socials-paragraph">
        <div class="socials-title">
            <h1>SOCIAL MEDIA</h1>
        </div>
        <div class="social-links">
            <div class="social-icons">
                <img src="assets/pics/Twitter.png" alt="">
                <p><a href="https://twitter.com/JohnoStreams">Johno's Twitter</a></p>
            </div>
            <div class="social-icons">
                <img src="assets/pics/Instagram.png" alt="">
                <p><a href="https://www.instagram.com/johnomerritt">Johno's Instagram</a></p>
            </div>
            <div class="social-icons">
                <img src="assets/pics/Discord.png" alt="">
                <p><a href="https://discord.com/invite/AZxpace">Johno's Discord</a></p>
            </div>
            <div class="social-icons">
                <img src="assets/pics/YouTube.png" alt="">
                <p><a href="https://www.youtube.com/c/johnostreams">Johno's Youtube</a></p>
            </div>
        </div>
    </div>
    <div class="schedule-wrapper">
        <div class="schedule-title">
            <h1>SCHEDULE</h1>
        </div>
        <div class="schedule-text">
           
            <div class="schedule">
                <p>SUNDAY: </p>
                <p>OFF</p>
            </div>
            <div class="schedule">
                <p>MONDAY: </p>
                <p>10AM - 2PM CST</p>
            </div>
            <div class="schedule">
                <p>TUESDAY: </p>
                <p>10AM - 2PM CST</p>
            </div>
            <div class="schedule">
                <p>WEDNESDAY: </p>
                <p>10AM - 2PM CST</p>
            </div>
            <div class="schedule">
                <p>THURSDAY: </p>
                <p>10AM - 2PM CST</p>
            </div>
            <div class="schedule">
                <p>FRIDAY: </p>
                <p>10AM - 2PM CST</p>
            </div>
            <div class="schedule">
                <p>SATURDAY: </p>
                <p>OFF</p>
            </div>
        </div>

        

    </div>

</div>


