<div class="scene" id="sponsors">
    <div class="logo-container">
        <div class="title-container">
            <h1>THE FUEL FOR THE MISSION</h1>
        </div>
        <div class="sponsors">
            <div class="sponsor-details" id="madrinas-details">
                <img id="madrinas" src="assets/pics/madrinas_white_wordmark.png">
                <p>Madrinas was started by two brothers on a mission to fuel the world and is proud to be a family-owned in St. Louis, filled with talented Coffeeheads located all over the US. Our values of positivity, respect, honesty, toughness, and hustle define us. Every day, Madrinas works together with many people and content creators who bring those values to life and fulfill our mission of pouring positive vibes into the world. Madrinas is proud that our culture and values unequivocally align with equality, tolerance and the sanctity of life for people all around the world, regardless of their race, gender, nationality, age, faith or sexual orientation.</p>
            </div>
            <div class="sponsor-details" id="stince-details">
                <img id="stince" src="assets/pics/Stince-Built-PNG.png">
                <p>Stince Built PC's has been building custom computers since 1996. From Gaming and Streaming to editing and entertainment, you can trust our team to deliver you the perfect PC based on your needs.</p>
            </div>
            <div class="sponsor-details" id="sota-details">
                <img id="sota" src="assets/pics/Simply_Sota.png">
                <p>Simply 'Sota's mission is to inspire, spark creativity, and encourage you to reach outside of your comfort zone and try something new.</p>
            </div>
            <div class="sponsor-details" id="soar-details">
                <img id="soar" src="assets/pics/SoardoggLogo-250x53-1.png">
                <p>SOARDOGG is a full service design studio, print fulfillment and custom apparel producer. Let us create a unique look for your brand from concept to final design. We work closely with small to medium sized businesses, popular Brands, e-sports teams, gaming communities, content creators, artists and non-profit organizations and more to create and produce premium customized apparel and merchandise for your growing fan base and fundraising initiatives!</p>
            </div>
        </div>
    </div>
    <div class="rocket">
        <img src="assets/pics/JOHNO_ICON_W2x-borderless.png">
    </div>
</div>